<!DOCTYPE html>
<html ng-app="modelInfluencers">
  <head>
    <title>Influencers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script type="text/javascript" src="javascript/app.js"></script>
    <link rel="stylesheet" type="text/css" href="css/influencers.css">
  </head>

  <body ng-controller="InfluencerCtrl" ng-init="loadData()">
    <div class="suggested-influencers">
      <h1>Suggested Influencers</h1>
      <div ng-repeat="influencer in suggestedInfluencers">
        <div class="suggested-influencer">
          <img ng-src="{{influencer.profile_image}}" />
          <div class="suggested-influencer-details">
            <b>{{influencer.full_name}}</b>
          <br>
          <a href="http://www.instagram.com/{{influencer.instagram_username}}"><i class="fab fa-instagram"></i> {{influencer.instagram_username}}</a>
          <button class="move-to-starred" ng-click="moveToStarred($index)">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="starred-influencers">
      <h1>Starred Influencers
        <select class="sort-drop-down" ng-model="sortInfluencers">
          <option value="" disabled selected>Sort by</option>
          <option value="full_name">Full Name (A-Z)</option>
          <option value="-full_name">Full Name (Z-A)</option>
          <option value="-followers">Followers (High - Low)</option>
          <option value="followers">Followers (Low - High)</option>
          <option value="-engagement">Engagement (High - Low)</option>
          <option value="engagement">Engagement (Low - High)</option>
        </select>
      </h1>
      <div ng-repeat="influencer in starredInfluencers | orderBy:sortInfluencers">
        <div class="starred-influencer">
          <img ng-src="{{influencer.profile_image}}" />
          <div class="starred-influencer-details">
            <div class="influencer-name-and-instagram">
              <span><b>{{influencer.full_name}}</b></span>
              <span><a href="http://www.instagram.com/{{influencer.instagram_username}}"><i class="fab fa-instagram"></i> {{influencer.instagram_username}}</a></span>
            </div>
            <div class="influencer-followers">
              <span><b>{{influencer.followers}}</b></span>
              <span class="grey-text">Followers</span>
            </div>
            <div class="influencer-engagement">
              <span><b>{{influencer.engagement}}%</b></span>
              <span class="grey-text">Engagement<span>
            </div>
          </div>
          <button class="move-to-suggested" ng-click="moveToSuggested($index)">x</button>
        </div>
      </div>
    </div>

  </body>
</html>
