html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
}

img {
  border-radius: 50%;
  width: 100%;
  max-width: 70px;
}

button {
  float: right;
}

.suggested-influencers {
  float: left;
  width: 300px;
}

.suggested-influencer {
  border-right: dashed 2px;
  width: 300px;
  display: inline-block;
  display: table;
}

.suggested-influencer-details {
  display: table-cell;
  vertical-align:middle;
  width: 225px;
}

.starred-influencers {
  float: right;
  width: 700px;
  padding-left: 10px;
}

.sort-drop-down {
  float: right;
}

.starred-influencer {
  display: inline-block;
  display: table;
  width: inherit;
}

.starred-influencers img {
  float: left;
  vertical-align: middle;
}

.suggested-influencers img {
  float: left;
}

.starred-influencer-details {
  display: table-cell;
  vertical-align: middle;
  width: 500px;
}

.influencer-name-and-instagram {
  display: inline-table;
}

.influencer-followers {
  display: inline-table;
}

.influencer-engagement {
  display: inline-table;
}

span {
  display: block;
  vertical-align: middle;
}
