html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  font-family: Helvetica;
}

h1 {
  font-size: 1.7em;
}

img {
  border-radius: 50%;
  width: 100%;
  max-width: 70px;
}

button {
  float: right;
  font-size: 1.2em;
  border: 0;
  color: lightgrey;
}

a {
  color: grey;
  text-decoration: none;
}

span {
  display: block;
  vertical-align: middle;
}

.suggested-influencers {
  float: left;
  width: 300px;
  min-height: 750px;
  border-right: dotted 2px;
  border-color: lightgrey;
}

.suggested-influencer {
  width: 300px;
  padding-top: 2px;
  display: inline-block;
  display: table;
}

.suggested-influencer-details {
  display: table-cell;
  vertical-align:middle;
  width: 225px;
}

.starred-influencers {
  float: right;
  width: 700px;
  padding-left: 10px;
}

.sort-drop-down {
  width: 240px;
  font-size: 0.7em;
  color: lightgrey;
  border-radius: 5px;
  float: right;
}

.starred-influencer {
  display: inline-block;
  display: table;
  width: 100%;
  padding-top: 2px;
}

.starred-influencers img {
  float: left;
  vertical-align: middle;
}

.starred-influencers button {
  padding-bottom: 23.5px;
}

.suggested-influencers img {
  float: left;
}

.starred-influencer-details {
  display: table-cell;
  vertical-align: middle;
  min-width: 580px;
  border-right: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  border-radius: 0px 5px 5px 0px;
  background-color: #FAFAFA;
}

.influencer-name-and-instagram {
  display: inline-table;
  width: 44%;
}

.influencer-followers {
  display: inline-table;
  text-align: center;
  width: 25%;
}

.influencer-engagement {
  display: inline-table;
  text-align: center;
  width: 25%;
}

.grey-text {
  color: grey;
}
