
html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

.suggested-influencers {
  align: left;
  width: 33%;
}

.starred-influencers {
  float: right;
}
